.categorizationInputs {
    background: #e9f3f3;
    margin: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.input {
    width: 335px;
    display: inline-block;
}

.value {
    width: 100px;
    display: inline-block;
}

.clearfix {
    padding: 5px;
    display: inline-block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background: rgb(5, 6, 37);
}

.card-body {
    background: rgb(16, 16, 17);
    color: white
}

.card-title {
    font-size: 28px;
}

.card-header {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    color: #f8f9fa;
    background: black;
}

.label.name {
    width: 122px;
    display: inline-grid;
}

.input.btn {
    width: 178px;
    display: inline-block;
}

.scoreContainer {
    width:50%;
}